<table width = "90%">
<h2>プロフィール</h2><br>
<tr>
  <th>項目名</th>
  <th>値</th>
</tr>
<tr>
  <td>ニックネーム</td>
  <td><%= @member.name %></td>
</tr>
<tr>
  <td>ポイント</td>
  <td><%= @member.score %></td>
</tr>
<tr>
  <td>ライフ</td>
  <td><%= @member.life %></td>
</tr>
</table><br>

