本ツールは、画像をアップロードさせるツイッターもどきの作りかけです。アップロードできるものは、現在画像のみです。未完成品のため、以下のことに類してください。
<h2>注意点</h2>
<h3>注意点</h3>
<h4>注意点</h4>
１．herokuの無料プランの作品のため、大した質は期待できません。それゆえ、重たいファイルを多数アップロードするのは避けてください。<br>
２．利用しても意味がありません。直ちに<%= link_to "こちらのページ", "http://logarithm.html.xdomain.jp/index.html" %>に戻ってください。<br>
３．今のところ、スマホにしか対応させていません。レスポンシブデザイン前提の制作ですが、スマホ固定になるようになっています。<br>
４．脆弱性の対策は、必要最低限度しか行っておりません。<br>
５．テンプレートレベルでしか制作しておりません。